
        :root {
            --primary: #dd6c03;
            --secondary: #06507e;
            --accent: #dd6c03;
            --light-bg: #f5f7fa;
            --dark-bg: #333;
            --text-color: #000000;
            --orange2: #f5f7fa;
            --orange1: #ffffff;

        }

        #form-message {
            margin-top: 10px;
            font-weight: 600;
        }

        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color: var(--light-bg);
            color: var(--text-color);
            line-height: 1.6;
        }

        header {
            position: relative;
            background: linear-gradient(rgba(1, 87, 168, 0.5)), url('background.jpg') center/cover no-repeat;
            color: white;
            text-align: center;
            padding: 60px 20px;
        }

        header h1 {
            font-size: clamp(3rem, 5vw, 3rem);
            margin: 0;
            line-height: 1.1;
        }

        header p {
            margin-top: 10px;
            font-size: 1.2rem;
        }

        nav {
            background-color: var(--secondary);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 40px;
            position: sticky;
            top: 0;
            z-index: 100;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }

        nav img.logo {
            width: 150px;
            height: auto;
            margin-left: 110px;
            transition: transform 0.3s ease;
            cursor: pointer;
        }

        

        nav img.logo:hover {
            transform: scale(1.1);
        }

        .nav-links {
            display: flex;
            gap: 30px;
            flex: 1;
            justify-content: center;
        }

        nav a {
            color: white;
            font-weight: 600;
            transition: all 0.3s ease;
            text-decoration: none;
        }


        nav a:hover {
            color: var(--accent);
            font-weight: 700;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 25px;
            height: 20px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 101;
        }

        .hamburger span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        section {
            margin-top: 10px;
            padding: 15px 20px 80px 20px;
            max-width: 1000px;
            background-color: white;
            margin-bottom: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.05);
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.8s ease-out;
            scroll-margin-top: 130px;
            text-align: left;
        }

        section.visible {
            opacity: 1;
            transform: translateY(0);
        }

        section:nth-of-type(odd) {
            background-color: var(--orange1);
        }

        section:nth-of-type(even) {
            background-color: var(--orange2);
        }

        h2 {
            color: var(--primary);
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }

        #contact, #about, #services, #duurzaamheid {
            border: 1px solid var(--primary);
        }


        section#contact h2 {
            color: var(--accent);
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 20px;
        }

        section a.btn, #about-link, #service-link {
            display: inline-block;
            background-color: var(--accent);
            color: white;
            padding: 10px 18px;
            border-radius: 6px;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        section a.btn:hover, #about-link:hover, #service-link:hover {
            background-color: #dd6c03d2;
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(0,0,0,0.25);
        }

        section a.btn {
            margin-top: 10px;
        }


        ul li {
            list-style: none;
            margin-bottom: 12px;
            padding-left: 30px;
            position: relative;
            font-weight: 500;
        }

        ul li::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: var(--primary);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        form input, form textarea{
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 98%;
            font-size: 1rem;
        }

        form input:focus, form textarea:focus {
            border-color: var(--primary);
            outline: none;
            box-shadow: 0 0 8px rgba(8,98,153,0.3);
        }

        form button {
            background-color: var(--accent);
            color: white;
            padding: 14px;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        form button:hover {
            background-color: #dd6c03d2;
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(207, 14, 63, 0.4);
        }

        form select {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100.5%;
        font-size: 1rem;
        background-color: white;
        color: #333;
        cursor: pointer;
        }

        form select:focus {
            border-color: var(--accent);
            outline: none;
            box-shadow: 0 0 8px rgba(8,98,153,0.3);
        }

        textarea {
            resize: none;
        }

        footer {
            background-color: var(--dark-bg);
            color: white;
            text-align: center;
            padding: 30px 20px;
            font-size: 0.95rem;
        }

        .contact-info p {
            margin: 5px 0;
        }

        #information {
            text-align: left;
            /* background: linear-gradient(to bottom, rgba(6, 80, 126, 0.884)); */
            background: linear-gradient(to bottom, rgba(6, 80, 126, 0.884));
            color: white;
            margin-left: 30px;
            margin-right: auto;
            text-align: left;
            max-width: 800px;
            box-sizing: border-box;
        }

        #information h2 {
            color: white;
        }

        .left-column {
            flex: 1;
            margin-bottom: 30px;
        }

        .right-column {
            flex: 1.3;

        }

        .main-layout {
            margin-bottom: 20px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        .left-column > section {
            height: 100%;
        }

        section a {
            color: var(--accent);
            text-decoration: underline;
            font-weight: 600;
        }

        section a:hover {
            opacity: 0.8;
        }

        .language-toggle1 {
            margin-left: 20px;
            display: none;
        }

        .language-toggle {
            margin-left: 20px;
        }

        .language-toggle button, .language-toggle1 button {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            padding: 6px 10px;
            border-radius: 6px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }

                ul li {
            list-style: none;
            margin-bottom: 12px;
            padding-left: 30px;
            position: relative;
            font-weight: 500;
        }

        ul li::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: var(--primary);
        }

                .nav-item-dropdown {
            position: relative;
            font-weight: 600;
        }

        .language-toggle button:hover, .language-toggle1 button:hover {
            background-color: white;
            color: var(--secondary);
        }


        .nav-item-dropdown {
            position: relative;
            font-weight: 600;
        }

        .nav-item-dropdown .dropdown li::before {
            content: none;
        }

        .nav-item-dropdown .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--light-bg);
            border: 1px solid var(--primary);
            border-radius: 8px;
            list-style: none;
            padding: 5px 0;
            margin: 0;
            min-width: 150px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            z-index: 1000;
            transition: all 0.3s ease;
        }

        .nav-item-dropdown .dropdown li {
            border-bottom: 1px solid rgba(0,0,0,0.05);
             padding-left: 0;
        }

        .nav-item-dropdown .dropdown li:last-child {
            border-bottom: none;
        }

        .nav-item-dropdown .dropdown li a {
            display: block;
            width: 100%;
            padding: 10px 20px;
            color: var(--secondary);
            text-decoration: none;
            font-weight: 500;
            transition: all 0.3s ease;
            box-sizing: border-box;
        }

        .nav-item-dropdown .dropdown li a:hover {
            background-color: var(--primary);
            color: white;
            transform: translateX(3px);
        }

        .nav-item-dropdown:hover .dropdown {
            display: block;
        }

        .nav-item-dropdown a {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .nav-item-dropdown .arrow {
            font-size: 0.7rem;
            transition: transform 0.3s ease;
        }

        .nav-item-dropdown:hover .arrow {
            transform: rotate(180deg);
        }


        @media(max-width: 1200px) {
        nav {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                position: sticky;
            }

        .nav-item-dropdown a {
            display: block;
            align-items: center;
            gap: 5px;
        }

            .nav-item-dropdown .dropdown {
                position: relative;
                border: none;
                box-shadow: none;
                background-color: var(--secondary);
            }
            .nav-item-dropdown .dropdown li a {
                color: white;
            }
            .nav-item-dropdown .dropdown li a:hover {
                background-color: var(--accent);
                color: white;
                transform: none;
            }


            .language-toggle1 {
            display: block;
            }
            
                        
            .language-toggle {
            display: none;
            }


            .hamburger {
                display: flex;
            }

            .nav-links {
                position: absolute;
                top: 60px;
                right: 0;
                background-color: var(--secondary);
                flex-direction: column;
                width: 200px;
                display: none;
                text-align: center;
                border-radius: 8px;
                padding: 10px 0;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            }

            .nav-links.show {
                display: flex;
            }

            .nav-links a {
                padding: 10px 0;
                color: white;
            }
        }

        @media (max-width: 1050px) {
            .main-layout {
                flex-direction: column;
            }
            #information{
                margin-left: 0px;
                max-width: 1100px;
            }

        }

        @media (max-width: 600px) {
            form input, form textarea {
                width: 98%;
            }

            #information {
                margin-left: 0px;
            }

        }